.contacts {
	display: flex;
	flex-direction: column;
	row-gap: 8rem;
	padding: 15rem 16rem 16rem;
	border-top: 1rem solid var(--color-stroke);

	&__phone {
		font-weight: 900;
		font-size: 24rem;
		line-height: 32rem;
	}
}
