@import "../../../../node_modules/swiper/modules/pagination";

.swiper-pagination-bullet {
	border: 1rem solid var(--color-slider-bullet) !important;
	background: transparent !important;
	opacity: 1 !important;
	box-shadow: rgba(0, 0, 0, .5) 0 1px 2px;

	&-active {
		background-color: var(--color-slider-bullet) !important;
	}
}
