@use "../fa/solid.css";
@use "../fa/brands.css";
@use "../fa/fontawesome.css";

$color-brand: #52BD31;

@use "bulma";
:root {
	--bulma-primary-h: 106deg;
	--bulma-primary-s: 59%;
	--bulma-primary-l: 47%;
	--bulma-link-h: 106deg;
	--bulma-link-s: 59%;
	--bulma-link-l: 47%;
	--bulma-danger-h: 0deg;
	--bulma-danger-s: 90%;
	--bulma-danger-l: 65%;
}

html {
	height: 100%;
}
body {
	min-height: 100%;
}

// Класс для курсора перетаскивания
.is-draggable {
	cursor:  grab;

	&:active {
		cursor: grabbing;
	}
}

// Ширина 100%
.is-full-width {
	width: 100%;
}

// Высота 100%
.is-full-height {
	height: 100%;
}
