@use "../fa/solid.css";
@use "../fa/brands.css";
@use "../fa/fontawesome.css";

$color-brand: #52BD31;

// TODO Придумать, как перекрашивать без компиляций по 20 секунд
//@use "bulma/sass" with (
//	$primary: $color-brand,
//	$link: $color-brand
//);
@use "bulma";

html {
	height: 100%;
}
body {
	min-height: 100%;
}

// Класс для курсора перетаскивания
.is-draggable {
	cursor:  grab;

	&:active {
		cursor: grabbing;
	}
}

// Высота 100%
.is-full-height {
	height: 100%;
}
