.card {
	display: flex;
	flex-direction: column;
	border-radius: 8rem;
	overflow: hidden;
	color: var(--color-card-text);
	background-color: var(--color-card-background);
	box-shadow: rgba(0, 0, 0, .1) 0 1rem 2rem;

	&__data {
		padding: 16rem;
	}
}
